<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-image"> <img src="/_resources/images/phoneList-Headers/{{brandName|lowercase}}.jpg" alt="{{brandName}}" class="images">
    <h1>{{brandName|uppercase}}</h1>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" id="wrapper">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <input type="text" ng-model="search.name" class="form-control" placeholder="Search Phone"> </div>
      <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <select ng-model="orderProp" class="form-control">
                    <option value="name">Alphabetical</option>
                    <option value="release">Latest</option>
                </select>
      </div>
    </div>
    <ul class="phone-list">
      <li ng-repeat="phone in phones | filter:search:strict" class="col-md-3 col-sm-3 phone-list-item">
        <a href="#/brand/{{brandName}}/phone/{{phone}}" class="tect-center"> <img src="/_resources/images/brands/{{brand.brandName|lowercase}}.jpg" alt="{{phone}}" class="phone-images">
          <p><b>{{phone}}</b></p>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 ">
    <ng-include src="'_resources/modules/phoneList/templates/brandList.sidebar.template.html'"></ng-include>
    <ng-include src="'_resources/modules/phoneList/templates/brandList.ads.template.html'"></ng-include>
    <ng-include src="'_resources/templates/_partial_displayReviews.html'"></ng-include>
  </div>
</div>
