<div class="wrapper">
  <ng-include src="'_resources/templates/_partial_carousel.html'"></ng-include>
  <h1 class="">All Mobile Phone Brands</h1>
  <div class="row">
    <div id="tools" class="form-group col-md-4">
      <input type="text" ng-model="search.brand.brandName" class="form-control" placeholder="Search Phone Brand">
    </div>
  </div>
  <ul>
    <li ng-repeat="brand in brands | filter:search.brand:strict" class="col-md-3 ">
      <a href="#/phones">{{brand.brandName}}</a>
    </li>
  </ul>
</div>