<footer>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">PhoneSpec</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div id="phonespec-nav">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/brand">All Phones</a></li>
        </ul>
      </div>

      <div id="socialmedia-nav">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="facebook">facebook</a></li>
          <li><a href="Instagram">Instagram</a></li>
          <li><a href="Twitter">Twitter</a></li>
          <li><a href="YouTube">YouTube</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</footer>
