
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr class="row">
        <th class="col-md-4 col-md-offset-2 text-center">Phone Model</th>
        <th class="col-md-4 text-center col-md-offset-2">Phone Snippet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="phone in phones" class="row">
        <td class="col-md-4 col-md-offset-2">
          {{phone.name}}
        </td>
        <td class="col-md-4 col-md-offset-2">
          {{phone.snippet}}
        </td>
      </tr>
    </tbody>
  </table>
