.table {
  margin: 20px auto;
}

img.thumbnail {
  width: 90px;
  margin-bottom: 0px;
}

#wrapper {
  margin-top: 25px;
}

ul.phone-list {
  padding-top: 20px;
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  img.thumbnail {
    width: 60px;
  }
  #wrapper {
    margin-top: 10px;
  }
}
