<div class="wrapper">
  <div class="col-md-2 col-sm-2 ">
    <section id="whatsNew">
      <h2 class="text-center">What's New</h2>
      <!--<div class="card" ng-repeat="card in cards"> <img src="{{card.img}}" alt="Avatar">
        <div class="card-container">
          <h4><b>{{card.name}}</b></h4>
          <p>{{card.description}}</p>
        </div>
      </div>-->
    </section>
  </div>

  <div class="col-md-7 col-sm-7 col-sm-12 col-xs-12 ">
    <!--carousel-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active"> <img src="/_resources/images/phones/{{phone.data.basicInfo.brandName | lowercase}}/1.jpg" alt="{{phone.data.basicInfo.phoneName}}">
          <div class="carousel-caption"> </div>
        </div>
      </div>
    </div>
    <!--Image Slider-->
    <!--<table class="table imageSlider">
      <tr>
        <td class="col-md-1 text-center" ng-repeat="image in images" ng-if="$even">
          <img class="sliderImage" ng-src="/_resources/images/phones/{{image}}.jpg" ng-click="imageSwap(/_resources/images/phones/{{image}}.jpg)">
        </td>
      </tr>
      <tr>
        <td class="col-md-1 text-center" ng-repeat="image in images" ng-if="$odd">
          <img class="sliderImage" ng-src="/_resources/images/phones/{{image}}.jpg" ng-click="imageSwap(/_resources/images/phones/{{image}}.jpg)">
        </td>
      </tr>
    </table>
-->
    <!--Phone Heading and desctiption-->
    <h1>{{phone.data.phoneName}}</h1>
    <!--Phone specifications templates-->
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.display.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.design.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phonedetails.camera.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.battery.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.hardware.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.multimedia.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.connectivity.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.network.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.comments.template.html'"></ng-include>
  </div>
</div>
