<section class="display">
  <div class="spec-heading">
    <h4>Camera</h4>
  </div>
  <div class="spec-body">
    <table class="table">
      <tr ng-repeat="(key, value) in phone.data.camera">
        <td class="col-lg-1 col-md-1 col-sm-1">
          {{key}}
        </td>
        <td class="col-lg-3 col-md-3 col-sm-3" ng-if="is_object(value) == false">
          {{value}}
        </td>
        <td class="col-lg-3 col-md-3 col-sm-3" ng-if="is_object(value)">
          <table>
            <tr ng-repeat="(key2, value2) in value">
              <td>{{key2}}</td>
              <td>{{value2}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</section>
