<div class="wrapper">


  <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 main-spec ">
    <!--spec-header-->
    <div id="spec-header" class="spec-header row">
      <div class="spec-header-image-holder col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <img src="/_resources/images/phones/{{phone.data.basicInfo.brandName | lowercase}}/1.jpg" alt="{{phone.data.basicInfo.phoneName}}" class="spec-header-image">
      </div>
      <div class="spec-header-generalinfo-holder col-lg-8 col-md-8 col-sm-4 col-xs-4">
        <div class="spec-generalinfo">
          <ul class="spec-generalinfo-list">
            <li>
              <span class="generalinfo-img"><i class="fa fa-2x fa-mobile"></i></span>
              <span class="emphasis">{{phone.data.display.size}}</span>
              <span class="normal"> {{phone.data.display.resolution}}</span>
            </li>
            <li>
              <span class="generalinfo-img"><i class="fa fa-lg fa-camera"></i></span>
              <span class="emphasis">{{phone.data.camera.megaPixel}}</span>
              <span class="normal"> {{phone.data.camera.frontCamera.aperture}}</span>
            </li>
          </ul>
          <ul class="spec-generalinfo-list">
            <li>
              <span class="generalinfo-img"><i class="fa fa-lg fa-camera"></i></span>
              <span class="emphasis">{{phone.data.hardware.ram}}</span>
              <span class="normal"> {{phone.data.hardware.chipset}}</span>
            </li>
            <li>
              <span class="generalinfo-img"><i class="fa fa-lg fa-battery"></i></span>
              <span class="emphasis">{{phone.data.battery.capacity}}</span>
              <span class="normal"> {{phone.data.battery.internetUse}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--Image Slider-->
    <!--<table class="table imageSlider">
      <tr>
        <td class="col-md-1 text-center" ng-repeat="image in images" ng-if="$even">
          <img class="sliderImage" ng-src="/_resources/images/phones/{{image}}.jpg" ng-click="imageSwap(/_resources/images/phones/{{image}}.jpg)">
        </td>
      </tr>
      <tr>
        <td class="col-md-1 text-center" ng-repeat="image in images" ng-if="$odd">
          <img class="sliderImage" ng-src="/_resources/images/phones/{{image}}.jpg" ng-click="imageSwap(/_resources/images/phones/{{image}}.jpg)">
        </td>
      </tr>
    </table>-->
    <!--Phone Heading and desctiption-->
    <h1>{{phone.data.basicInfo.phoneName}}</h1>
    <!--Phone specifications templates-->
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.display.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.design.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phonedetails.camera.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.battery.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.hardware.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.multimedia.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.connectivity.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.network.template.html'"></ng-include>
    <hr>
    <ng-include src="'_resources/modules/phoneDetails/templates/phoneDetails.comments.template.html'"></ng-include>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
    <section id="whatsNew">
      <h2 class="text-center">What's New</h2>

    </section>
  </div>

</div>
