<div class="replies-wrapper">
  <div class="reply-display-box" ng-repeat="reply in comment.replies | reverse | limitTo: shrinkRepliesVal">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="user-profile-image-wrapper">
          <img class="user-profile-image" src="/_resources/images/users/{{reply.userName | lowercase}}.jpg" alt="{{reply.userName}}">
        </div>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="user-name">
          <b>{{reply.userName}}</b>
        </div>
        <div class="replies">
          {{reply.comment}}
        </div>
        <div class="reply-timestamp">
          {{reply.timeStamp | date:'medium'}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12" class="show-more-less" ng-hide="comment.replies.length < 4">
    <a ng-hide="totalReplies <= 4 || shrinkRepliesVal > 4" ng-click="shrinkRepliesVal=100">Show more..</a>
    <a ng-show="shrinkRepliesVal > 4" ng-click="shrinkRepliesVal=4">Show less...</a>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <form name="repliesForm" class="form-inline" ng-submit="addReply()">
      <div class="form-group write-reply-wrapper">
        <input class="form-control" id="writeReply" type="text" ng-model="formData.reply" placeholder="Write a reply...">
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </form>
  </div>
</div>
