<section class="spec-holder">
    <div class="spec-heading">
        <h3>Camera</h3> </div>
    <div class="spec-body">
        <table class="table table-bordered table-striped table-hover">
            <tr ng-repeat="(key, value) in phone.data.camera" ng-class="'{{key}}' == '_id' ? 'hide' : ''">
                <td class="col-lg-1 col-md-1 col-sm-1 spec-label"> {{key | addspace}} </td>
                <td class="col-lg-3 col-md-3 col-sm-3" ng-if="is_object(value) == false && is_array(value) == false"> {{value}} </td>
                <td class="col-lg-3 col-md-3 col-sm-3" ng-if="is_array(value)">
                    <ul class="no-space-1">
                        <li> <span ng-repeat="(key2, value2) in value">{{value2}}{{$last ? '' : ', '}}</span> </li>
                    </ul>
                </td>
                <td class="col-lg-3 col-md-3 col-sm-3" ng-if="is_object(value) && is_array(value) == false">
                    <table class="table table-bordered table-striped table-hover no-space-1">
                        <tr ng-repeat="(key2, value2) in value">
                            <td class="col-lg-1 col-md-1 col-sm-1 spec-label"> {{key2 | addspace}} </td>
                            <td class="col-lg-3 col-md-3 col-sm-3"> {{value2}} </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</section>