<div>
  <!--carousel-->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img ng-src="{{carouselImage}}" alt="First Image">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>


  <!--Image Slider-->
  <table class="table imageSlider">
    <tr>
      <td class="col-md-1 text-center" ng-repeat="image in phone.images" ng-if="$even">
        <img class="sliderImage" ng-src="{{image}}" ng-click="imageSwap(image)">
      </td>
    </tr>
    <tr>
      <td class="col-md-1 text-center" ng-repeat="image in phone.images" ng-if="$odd">
        <img class="sliderImage" ng-src="{{image}}" ng-click="imageSwap(image)">
      </td>
    </tr>
  </table>

  <!--Phone Heading and desctiption-->
  <h1>{{phone.PhoneName}}</h1>
  <p>{{phone.description}}</p>

  <!--Phone specifications-->
  <section class="specs">
    <h3>Specifications : </h3>
    <div class="row">
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#software">
                  OS/Software
                </p>
              </h4>
            </div>
            <div id="software" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.android">
                  <td>{{key}}</td>
                  <td class="text-center">{{value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#storage">
                  Storage
                </p>
              </h4>
            </div>
            <div id="storage" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.storage">
                  <td>{{key}}</td>
                  <td class="text-center">{{value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#camera">
                  Camera
                </p>
              </h4>
            </div>
            <div id="camera" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.camera" ng-if="$first">
                  <td>{{key}}</td>
                  <td class="text-center">{{value[0]+', '+value[1]}}</td>
                </tr>
                <tr ng-repeat="(key,value) in phone.camera" ng-if="!$first">
                  <td>{{key}}</td>
                  <td class="text-center">{{value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#battery">
                  Battery
                </p>
              </h4>
            </div>
            <div id="battery" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.battery">
                  <td>{{key}}</td>
                  <td class="text-center">{{value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#display">
                  Display
                </p>
              </h4>
            </div>
            <div id="display" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.display">
                  <td>{{key}}</td>
                  <td class="text-center">{{value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#sizeAndWeight">
                  Size &amp; Weight
                </p>
              </h4>
            </div>
            <div id="sizeAndWeight" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.sizeAndWeight" ng-if="$first">
                  <td>{{key}}</td>
                  <td class="text-center">{{value[0]+' X '+value[1]+' X '+value[2]}}</td>
                </tr>
                <tr ng-repeat="(key,value) in phone.sizeAndWeight" ng-if="!$first">
                  <td>{{key}}</td>
                  <td class="text-center">{{value}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#hardware">
                  Hardware
                </p>
              </h4>
            </div>
            <div id="hardware" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.hardware">
                  <td>{{key}}</td>
                  <td class="text-center">{{value | checkmark}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#connectivity">
                  Connectivity
                </p>
              </h4>
            </div>
            <div id="connectivity" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr ng-repeat="(key,value) in phone.connectivity">
                  <td>{{key}}</td>
                  <td class="text-center">{{value | checkmark}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel-group" id="accordion">
          <div class="panel panel-primary" id="panel1">
            <div class="panel-heading">
              <h4 class="panel-title">
                <p data-toggle="collapse" data-target="#additionalFeatures">
                  Additional Features
                </p>
              </h4>
            </div>
            <div id="additionalFeatures" class="panel-collapse collapse in">
              <table class="table table-striped table-hover table-bordered">
                <tr>
                  <td class="text-left">{{phone.additionalFeatures}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
