<div>
    <!--carousel-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active"> <img src="/_resources/images/phones/galaxy%20s8.jpg" alt="First Image">
                <div class="carousel-caption"> </div>
            </div>
        </div>
    </div>
    <!--Image Slider-->
    <table class="table imageSlider">
        <tr>
            <td class="col-md-1 text-center" ng-repeat="image in phone.images" ng-if="$even"> <img class="sliderImage" ng-src="{{image}}" ng-click="imageSwap(image)"> </td>
        </tr>
        <tr>
            <td class="col-md-1 text-center" ng-repeat="image in phone.images" ng-if="$odd"> <img class="sliderImage" ng-src="{{image}}" ng-click="imageSwap(image)"> </td>
        </tr>
    </table>
    <!--Phone Heading and desctiption-->
    <h1>{{phone.data.phoneName}}</h1>
    <p>{{phone.data.brandName}}</p>
    <!--Phone specifications-->
    <section id="{{key}}" ng-repeat="(key, value) in phone.data">
        <div class="spec-heading">
            <h4>{{key | uppercase}}</h4></div>
        <table>
            <tr ng-repeat="(key, value) in phone.data.value">
                <td class="col-lg-1 col-md-1 col-sm-1"> {{key}} </td>
                <td class="col-lg-3 col-md-3 col-sm-3"> {{ value }} </td>
            </tr>
        </table>
    </section>
</div>